*{
    font-family : cursive;
}

h1, h3 {
    color : #b92b27;
}

#signup {
    background-color :#b92b27;
    color : #fff;
}

.upvote {
    background-color : rgb(3, 74, 3);
    color : rgb(207, 202, 202);
}

.question a {
    color : purple;
}